html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Hind Siliguri', sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  color: #2a2a2a;
  background-color: #fff;
}

header,
section {
  height: 100vh;
  width: 100%;
  position: relative;
}

.wrapper {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}

.section-guide {
  position: absolute;
  -webkit-transform-origin: center;
          transform-origin: center;
  left: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

h1 {
  font-size: 5rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  padding: 30px 0;
  position: relative;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  position: relative;
  width: 80px;
  text-align: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

h3::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -70px;
  width: 40px;
  height: 1px;
  background-color: #e24727;
}

h3::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -70px;
  width: 40px;
  height: 1px;
  background-color: #e24727;
}

h4 {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

h4::before {
  content: '';
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 3px;
  background-color: #e24727;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: #2a2a2a;
  text-decoration: none;
}

em {
  font-weight: 700;
  font-style: normal;
}

span {
  -webkit-transition: .5s;
  transition: .5s;
}

.change {
  color: #e24727;
  opacity: 0;
}

.change-s {
  color: #2a2a2a;
}

nav {
  position: fixed;
  z-index: 10;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  margin-right: 25px;
}

.mobile {
  visibility: hidden;
  z-index: 100;
  position: fixed;
  right: 0px;
  top: 10px;
  padding: 5px 10px;
}

.mobile-bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}

.hamburger {
  display: block;
  width: 25px;
  height: 3px;
  margin: 2px;
  background-color: #2a2a2a;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar a {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.navbar a p {
  position: relative;
  text-align: right;
  text-transform: uppercase;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-right: 10px;
  font-size: 1.4rem;
  line-height: 1;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.navbar a:hover span,
.navbar a:focus span {
  width: 35px;
  background-color: #e24727;
}

.navbar a:hover p,
.navbar a:focus p {
  opacity: 1;
}

.navbar span {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #2a2a2a;
  -webkit-transition: .5s;
  transition: .5s;
}

.navbar .light {
  background-color: #e24727;
  width: 30px;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(255, 255, 255, 0.5)), to(white)), url(../assets/snow.jpg);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 70%, white 100%), url(../assets/snow.jpg);
  background-position: center;
  background-size: cover;
}

h1 span {
  -webkit-transition: .5s;
  transition: .5s;
}

h1 span.fade {
  color: #e24727;
}

.fade {
  color: #e24727;
}

.fadeBack {
  color: #2a2a2a;
}

.typing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.type-text {
  position: relative;
  padding-left: 10px;
}

.type-text::after {
  content: '';
  position: absolute;
  right: -5px;
  width: 1px;
  height: 30px;
  border-right: 3px solid #2a2a2a;
  -webkit-animation: blink 1s infinite ease;
          animation: blink 1s infinite ease;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

h2 span {
  color: #e24727;
}

.intro-content {
  padding: 0 10px;
}

.intro-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro-content a {
  font-size: 2rem;
  padding: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

.intro-content a:hover {
  color: #e24727;
}

.intro-content p {
  padding-bottom: 20px;
  width: 40%;
  min-width: 360px;
}

.arrow {
  text-align: center;
  position: absolute;
  bottom: 3%;
  left: 50%;
}

.arrow span {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0px;
  border-bottom: 3px solid #2a2a2a;
  border-right: 3px solid #2a2a2a;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  -webkit-animation: flash 3s infinite;
          animation: flash 3s infinite;
  opacity: 0;
}

@-webkit-keyframes flash {
  0%, 25%, 75%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes flash {
  0%, 25%, 75%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-content {
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-content img {
  width: 30%;
  border: 10px solid #2a2a2a;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .8s;
  transition: .8s;
  background: #2a2a2a;
  -webkit-animation: bubble 8s infinite;
          animation: bubble 8s infinite;
}

.about-content:hover img,
.about-content:focus img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
}

.about-content:hover h2::before,
.about-content:focus h2::before {
  width: 40px;
}

.about-content:hover span,
.about-content:focus span {
  opacity: 1;
}

.about-content:hover a,
.about-content:hover a {
  color: #e24727;
}

@-webkit-keyframes bubble {
  0% {
    border-radius: 56% 44% 69% 31% / 58% 35% 65% 42%;
  }
  33% {
    border-radius: 33% 67% 37% 63% / 54% 58% 42% 45%;
  }
  66% {
    border-radius: 74% 67% 57% 74% / 89% 92% 42% 45%;
  }
  100% {
    border-radius: 56% 44% 69% 31% / 58% 35% 65% 42%;
  }
}

@keyframes bubble {
  0% {
    border-radius: 56% 44% 69% 31% / 58% 35% 65% 42%;
  }
  33% {
    border-radius: 33% 67% 37% 63% / 54% 58% 42% 45%;
  }
  66% {
    border-radius: 74% 67% 57% 74% / 89% 92% 42% 45%;
  }
  100% {
    border-radius: 56% 44% 69% 31% / 58% 35% 65% 42%;
  }
}

.about-text {
  width: 40%;
}

.about-text h2 {
  width: 145px;
  position: relative;
}

.about-text h2::before {
  content: '';
  position: absolute;
  top: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: #e24727;
  -webkit-transition: .5s;
  transition: .5s;
}

.about-text span {
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.about-text p {
  padding: 5px 0;
  position: relative;
}

.about-text p:hover .fa-hand-spock,
.about-text p:focus .fa-hand-spock {
  opacity: 1;
  -webkit-animation: wave 2s infinite;
          animation: wave 2s infinite;
}

.about-text p:hover .fa-snowflake,
.about-text p:focus .fa-snowflake {
  opacity: 1;
  -webkit-animation: spin 2s infinite;
          animation: spin 2s infinite;
}

.about-text p:hover .fa-dot-circle,
.about-text p:focus .fa-dot-circle {
  opacity: 1;
}

.about-text p:hover .fa-address-card,
.about-text p:focus .fa-address-card {
  opacity: 1;
  -webkit-animation: swipe 2s infinite;
          animation: swipe 2s infinite;
}

.about-text i {
  position: absolute;
  top: 50%;
  left: -30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #e24727;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.bite::before {
  content: '';
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 5;
  -webkit-transition: none;
  transition: none;
  opacity: 0;
}

.bite:hover::before {
  -webkit-animation: chew 2s infinite;
          animation: chew 2s infinite;
}

@-webkit-keyframes wave {
  0%, 60%, 100% {
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
  }
  10%, 30% {
    -webkit-transform: translateY(-50%) rotate(16deg);
            transform: translateY(-50%) rotate(16deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: translateY(-50%) rotate(-12deg);
            transform: translateY(-50%) rotate(-12deg);
  }
  40% {
    -webkit-transform: translateY(-50%) rotate(-6deg);
            transform: translateY(-50%) rotate(-6deg);
  }
  50% {
    -webkit-transform: translateY(-50%) rotate(14deg);
            transform: translateY(-50%) rotate(14deg);
  }
}

@keyframes wave {
  0%, 60%, 100% {
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
  }
  10%, 30% {
    -webkit-transform: translateY(-50%) rotate(16deg);
            transform: translateY(-50%) rotate(16deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: translateY(-50%) rotate(-12deg);
            transform: translateY(-50%) rotate(-12deg);
  }
  40% {
    -webkit-transform: translateY(-50%) rotate(-6deg);
            transform: translateY(-50%) rotate(-6deg);
  }
  50% {
    -webkit-transform: translateY(-50%) rotate(14deg);
            transform: translateY(-50%) rotate(14deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-50%) rotate(360deg);
            transform: translateY(-50%) rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-50%) rotate(360deg);
            transform: translateY(-50%) rotate(360deg);
  }
}

@-webkit-keyframes chew {
  0% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes chew {
  0% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes swipe {
  0% {
    -webkit-transform: translateY(-50%) translateX(-10px);
            transform: translateY(-50%) translateX(-10px);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(0);
            transform: translateY(-50%) translateX(0);
  }
}

@keyframes swipe {
  0% {
    -webkit-transform: translateY(-50%) translateX(-10px);
            transform: translateY(-50%) translateX(-10px);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(0);
            transform: translateY(-50%) translateX(0);
  }
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.languages h2 {
  text-align: center;
  margin-bottom: 10px;
  left: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

.languages h2::before {
  content: '';
  position: absolute;
  top: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0px;
  height: 3px;
  background-color: #e24727;
  -webkit-transition: .5s;
  transition: .5s;
}

.languages:hover h2::before {
  width: 40px;
}

.languages:hover h2 {
  left: 0;
}

.languages ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}

.languages li {
  display: block;
  width: calc(100% / 4);
  text-align: center;
  padding: 20px;
  font-size: 6rem;
}

.languages li:hover p {
  opacity: 1;
  top: 0;
}

.languages li i {
  -webkit-transition: .5s;
  transition: .5s;
}

.languages li:hover i {
  color: #e24727;
}

.languages p {
  font-size: 2rem;
  text-transform: uppercase;
  padding-top: 10px;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
  top: 10px;
  opacity: 0;
}

.languages .change-s {
  color: #2a2a2a;
}

.languages .change {
  color: #e24727;
  opacity: 0;
}

.languages:hover .change-s {
  color: #e24727;
}

.languages:hover .change {
  opacity: 1;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.examples:hover .change-s {
  opacity: 0;
}

.examples:hover .change {
  opacity: 1;
}

.examples h2 {
  text-align: center;
  margin-bottom: 20px;
  left: 65px;
  -webkit-transition: .5s;
  transition: .5s;
}

.examples h2::before {
  content: '';
  position: absolute;
  top: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0px;
  height: 3px;
  background-color: #e24727;
  -webkit-transition: .5s;
  transition: .5s;
}

.examples:hover h2::before {
  width: 40px;
}

.examples:hover h2 {
  left: 0;
}

.portfolio {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio ul {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio li {
  display: block;
  width: calc((100% - 40px) / 3);
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.portfolio li:nth-of-type(3n) {
  margin-right: 0;
}

.portfolio img {
  border: 5px solid #2a2a2a;
  border-radius: 20px;
  -webkit-transition: border 1s linear 0s, -webkit-animation 1s linear 0s, -webkit-filter .5s linear 0s;
  transition: border 1s linear 0s, -webkit-animation 1s linear 0s, -webkit-filter .5s linear 0s;
  transition: animation 1s linear 0s, filter .5s linear 0s, border 1s linear 0s;
  transition: animation 1s linear 0s, filter .5s linear 0s, border 1s linear 0s, -webkit-animation 1s linear 0s, -webkit-filter .5s linear 0s;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.portfolio img:hover, .portfolio img:focus {
  -webkit-animation: bubble1 1s linear 0s, bubble2 8s linear 1s infinite;
          animation: bubble1 1s linear 0s, bubble2 8s linear 1s infinite;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  border: 5px solid #e24727;
}

@-webkit-keyframes bubble1 {
  0% {
    border-radius: 20px;
  }
  100% {
    border-radius: 56% 44% 69% 31% / 58% 35% 65% 42%;
  }
}

@keyframes bubble1 {
  0% {
    border-radius: 20px;
  }
  100% {
    border-radius: 56% 44% 69% 31% / 58% 35% 65% 42%;
  }
}

@-webkit-keyframes bubble2 {
  0% {
    border-radius: 56% 44% 69% 31% / 58% 35% 65% 42%;
  }
  33% {
    border-radius: 33% 67% 37% 63% / 54% 58% 42% 45%;
  }
  66% {
    border-radius: 74% 67% 57% 74% / 89% 92% 42% 45%;
  }
  100% {
    border-radius: 56% 44% 69% 31% / 58% 35% 65% 42%;
  }
}

@keyframes bubble2 {
  0% {
    border-radius: 56% 44% 69% 31% / 58% 35% 65% 42%;
  }
  33% {
    border-radius: 33% 67% 37% 63% / 54% 58% 42% 45%;
  }
  66% {
    border-radius: 74% 67% 57% 74% / 89% 92% 42% 45%;
  }
  100% {
    border-radius: 56% 44% 69% 31% / 58% 35% 65% 42%;
  }
}

.popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity .5s;
  transition: visibility 0s, opacity .5s;
  cursor: default;
}

.background-active {
  visibility: visible;
  opacity: 1;
  z-index: 5;
}

.pop-content {
  background-color: #fff;
  width: 30%;
  height: 30%;
  min-height: 300px;
  min-width: 310px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border-radius: 20px;
}

.pop-content span {
  color: #e24727;
  -webkit-transition: none;
  transition: none;
}

.code {
  text-transform: uppercase;
  font-weight: 700;
}

.close {
  position: absolute;
  top: 10px;
  right: 8px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.close::before {
  content: '';
  position: absolute;
  top: 12px;
  right: 7px;
  width: 20px;
  height: 2px;
  background-color: #2a2a2a;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close::after {
  content: '';
  position: absolute;
  top: 12px;
  right: 7px;
  width: 20px;
  height: 2px;
  background-color: #2a2a2a;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.reference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reference a {
  margin: 0 20px;
  padding: 10px 30px;
  font-weight: 700;
  border: 3px solid #e24727;
  border-radius: 25px;
  text-transform: uppercase;
}

.reference a:hover {
  background-color: #e24727;
  color: #fff;
}

.bg-1, .bg-2, .bg-3, .bg-4, .bg-5, .bg-6 {
  background-size: cover;
}

.bg-1 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(255, 255, 255, 0.9)), to(white)), url(../assets/red-pokeball.png);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 40%, white 100%), url(../assets/red-pokeball.png);
}

.bg-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(255, 255, 255, 0.9)), to(white)), url(../assets/paint.png);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 40%, white 100%), url(../assets/paint.png);
  background-position: center;
}

.bg-3 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(255, 255, 255, 0.9)), to(white)), url(../assets/torii.png);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 40%, white 100%), url(../assets/torii.png);
}

.bg-4 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(255, 255, 255, 0.9)), to(white)), url(../assets/chef.png);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 40%, white 100%), url(../assets/chef.png);
  background-position: center;
}

.bg-5 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(255, 255, 255, 0.9)), to(white)), url(../assets/fork-knife.png);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 40%, white 100%), url(../assets/fork-knife.png);
}

.bg-6 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(255, 255, 255, 0.7)), to(white)), url(../assets/calflix-logo.png);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 40%, white 100%), url(../assets/calflix-logo.png);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: sans-serif;
}

.contact h2 {
  width: 100%;
  color: #2a2a2a;
  text-align: center;
  margin-bottom: 10px;
  left: 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

.contact .change {
  color: #e24727;
  opacity: 0;
}

.contact h2::before {
  content: '';
  position: absolute;
  top: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0px;
  height: 3px;
  background-color: #e24727;
  -webkit-transition: .5s;
  transition: .5s;
}

form {
  min-width: 700px;
  width: 40%;
  padding: 20px;
}

form:hover .change {
  opacity: 1;
}

form:hover h2::before {
  width: 40px;
}

form:hover h2 {
  left: 0;
}

.container {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[autofit];
      grid-template-columns: repeat(autofit, minmax(300px, 1fr));
}

.row {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

.input-box {
  position: relative;
  width: 100%;
  height: 40px;
  color: #2a2a2a;
}

input,
textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #fff;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  -webkit-transition: .5s;
  transition: .5s;
  pointer-events: none;
}

input:focus + .text,
input:valid + .text,
textarea:focus + .text,
textarea:valid + .text {
  top: -35px;
  left: -10px;
  color: #e24727;
}

.line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e24727;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 2px;
  pointer-events: none;
}

input:focus ~ .line,
input:valid ~ .line,
textarea:focus ~ .line,
textarea:valid ~ .line {
  height: 100%;
  background-color: #2a2a2a;
}

.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

textarea {
  height: 100%;
  resize: none;
}

.button-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}

button, [type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button {
  font-size: 2rem;
  font-weight: 400;
  padding: 20px 60px;
  border-radius: 59px;
  border: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #2a2a2a;
  position: relative;
  overflow: hidden;
  font-family: 'Hind Siliguri', sans-serif;
  cursor: pointer;
}

button:hover > .paint:nth-child(1) {
  -webkit-transform: translate(-35px, -20px) rotate(-20deg) scale(1, 1);
          transform: translate(-35px, -20px) rotate(-20deg) scale(1, 1);
}

button:hover > .paint:nth-child(2) {
  -webkit-transform: translate(21px, -20px) rotate(20deg) scale(1, 1);
          transform: translate(21px, -20px) rotate(20deg) scale(1, 1);
}

button:hover > .paint:nth-child(3) {
  -webkit-transform: translate(81px, -20px) rotate(-20deg) scale(1, 1);
          transform: translate(81px, -20px) rotate(-20deg) scale(1, 1);
}

button:hover {
  color: #fff;
}

.paint {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e24727;
  width: 85px;
  height: 120px;
  -webkit-transition: .5s;
  transition: .5s;
}

.paint:nth-child(1) {
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform: translate(-35px, -20px) rotate(-20deg) scale(1, 0);
          transform: translate(-35px, -20px) rotate(-20deg) scale(1, 0);
}

.paint:nth-child(2) {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: translate(21px, -20px) rotate(20deg) scale(1, 0);
          transform: translate(21px, -20px) rotate(20deg) scale(1, 0);
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

.paint:nth-child(3) {
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-transform: translate(81px, -20px) rotate(-20deg) scale(1, 0);
          transform: translate(81px, -20px) rotate(-20deg) scale(1, 0);
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.label {
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

.media {
  position: absolute;
  bottom: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.media a {
  font-size: 4rem;
  padding: 0 30px;
  -webkit-transition: .5s;
  transition: .5s;
}

.media a:hover {
  color: #e24727;
}

.media p {
  padding-bottom: 20px;
  width: 40%;
}

@media (max-height: 700px) {
  html {
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
  }
  section {
    height: initial;
    padding: 20px 0;
  }
  .media {
    position: relative;
    padding-top: 30px;
  }
}

@media (max-width: 1200px) {
  .projects {
    width: 100%;
  }
  .projects ul {
    width: 100%;
  }
  h4 {
    font-size: 2rem;
  }
}

@media (max-width: 850px) {
  form {
    width: 70%;
    min-width: 0;
  }
  .media {
    position: initial;
    padding: 60px 0;
  }
  .media a {
    padding: 0 20px;
  }
}

@media (max-width: 700px) {
  .section-guide {
    visibility: hidden;
  }
  .navbar {
    visibility: hidden;
  }
  .visible {
    visibility: visible;
  }
  nav {
    left: 0;
    margin-right: 0;
  }
  .desktop-nav {
    clip-path: circle(100px at 110% -10%);
    -webkit-clip-path: circle(100px at 110% -10%);
    -webkit-transition: all 1.5s ease-out;
    transition: all 1.5s ease-out;
    background-color: #e24727;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .desktop-nav li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .desktop-nav span {
    display: none;
  }
  .desktop-nav a p {
    font-size: 3rem;
    font-weight: 700;
    opacity: 1;
    padding-right: 0;
    margin: 10px 0;
    -webkit-transition: none;
    transition: none;
  }
  .open {
    clip-path: circle(1200px at 110% -10%);
    -webkit-clip-path: circle(1200px at 110% -10%);
  }
  .mobile {
    visibility: visible;
  }
  .line1 {
    -webkit-transform: rotate(45deg) translate(6px, 3px);
            transform: rotate(45deg) translate(6px, 3px);
  }
  .line2 {
    width: 0;
  }
  .line3 {
    -webkit-transform: rotate(-45deg) translate(7px, -4px);
            transform: rotate(-45deg) translate(7px, -4px);
    width: 25px;
  }
  .about-content {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about-content img {
    width: 60%;
    margin-top: 15px;
  }
  .about-text {
    width: 80%;
  }
  .languages {
    width: 90%;
  }
  .languages li {
    width: calc(100% / 2);
    font-size: 5rem;
  }
  .languages p {
    display: none;
  }
  .portfolio li {
    width: calc((100% - 20px) / 2);
  }
  .portfolio li:nth-of-type(3n) {
    margin-right: 20px;
  }
  .portfolio li:nth-of-type(2n) {
    margin-right: 0;
  }
}

@media (max-width: 650px) {
  .examples h2 {
    left: 0px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 3.6rem;
  }
  .typing h2 {
    font-size: 2rem;
  }
  .type-text::after {
    height: 23px;
  }
  .intro-content p {
    width: 100%;
    min-width: 0;
  }
  .about-text p {
    padding: 10px 0;
  }
  form {
    width: 85%;
  }
}

@media (max-width: 500px) and (max-height: 900px) {
  .projects {
    height: initial;
  }
  .portfolio li {
    width: 100%;
    margin-right: 0;
  }
  .portfolio li:nth-of-type(3n) {
    margin-right: 0;
  }
}
